SourceCode/AirlineReservationSystem/Schemas/Payload.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/Airline Reservation System/Schemas/Schema.xsd3"
	 targetNamespace="http://www.tibco.com/schemas/Airline Reservation System/Schemas/Schema.xsd3"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root" type="rootType"/>
	<xs:complexType name="rootType">
		<xs:sequence>
			<xs:element ref="Payload" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Payload" type="xs:string"/>
</xs:schema>